@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width: 700px) {
    .sign{
    
        width: 400px;
        height: 500px;
    }
    .profile{
    
        background-color: white;
        width: 400px;
        height: 500px;
    }
  }
  @media screen and (max-width: 700px) {
    .sign{
    
        width: 250px;
        height: 350px;
    }
    .profile{
    
        background-color: white;
        width: 250px;
        height: 350px;
    }
  }
